@mixin flash($color) {
  @include animation(fade_in 0.4s ease);

  background: $color;
  color: darken($color, 60);

  a {
    color: darken($color, 70);

    &:hover {
      color: darken($color, 90);
    }
  }
}

%flash-base {
  font-weight: bold;
  margin-bottom: $base-spacing / 2;
  padding: $base-spacing / 2;
}

%flash-failure {
  @extend %flash-base;
  @include flash($error-color);
}

%flash-success {
  @extend %flash-base;
  @include flash($success-color);
}

@include keyframes(fade_in) {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
