a.action,
button.action {
  @extend %button;
  margin-bottom: $base-spacing;

  &.delete {
    $bg-color: $red;
    background-color: $bg-color;

    &:hover {
      background-color: darken($bg-color, 15);
    }
  }
}

span.error {
  $color: $error-color;

  background-color: $color;
  border-radius: $base-border-radius;
  color: darken($color, 60);
  display: inline-block;
  margin-bottom: $base-spacing / 2;
  padding: 0.25em 1em;
}
